html, body {
  height: 100%;
  min-height: 100%;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #fff;
  font: normal 88%/1.4 $font-primary;
  color: $color-body;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: auto;
  max-width: $page-width;
  padding: 0 $page-h-rhythm;
}

img {
  max-width: 100%;
}

hr {
  @include vertical-rhythm;
  background-color: $gray-light;
  border: 0;
  border-bottom: 1px solid $gray-light;
  height: 0;
}
