# See https://help.github.com/articles/ignoring-files/

# compiled output
/_site
/dist
/tmp

# dependencies
bower_components
node_modules

# misc
.DS_Store
/.sass-cache
npm-debug.log
secret.json
sftp-config.json
