/*
  New Project CSS
*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 6, ../../../app/stylesheets/base/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 27, ../../../app/stylesheets/base/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../../../app/stylesheets/base/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../../../app/stylesheets/base/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../../../app/stylesheets/base/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 40, ../../../app/stylesheets/base/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../../../app/stylesheets/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../../../app/stylesheets/base/_helpers.scss */
.align-center {
  text-align: center;
}

/* line 5, ../../../app/stylesheets/base/_helpers.scss */
.align-left {
  text-align: left;
}

/* line 9, ../../../app/stylesheets/base/_helpers.scss */
.align-right {
  text-align: right;
}

/* line 13, ../../../app/stylesheets/base/_helpers.scss */
.pull-left {
  float: left;
}

/* line 17, ../../../app/stylesheets/base/_helpers.scss */
.pull-right {
  float: right;
}

@-webkit-keyframes hide {
  /* line 5, ../../../app/stylesheets/base/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 9, ../../../app/stylesheets/base/_animations.scss */
  100% {
    opacity: 0;
  }
}
@-moz-keyframes hide {
  /* line 5, ../../../app/stylesheets/base/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 9, ../../../app/stylesheets/base/_animations.scss */
  100% {
    opacity: 0;
  }
}
@keyframes hide {
  /* line 5, ../../../app/stylesheets/base/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 9, ../../../app/stylesheets/base/_animations.scss */
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  /* line 15, ../../../app/stylesheets/base/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 19, ../../../app/stylesheets/base/_animations.scss */
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  /* line 15, ../../../app/stylesheets/base/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 19, ../../../app/stylesheets/base/_animations.scss */
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  /* line 15, ../../../app/stylesheets/base/_animations.scss */
  0% {
    opacity: 0;
  }

  /* line 19, ../../../app/stylesheets/base/_animations.scss */
  100% {
    opacity: 1;
  }
}
/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span1 {
  width: 8.33333%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset1 {
  margin-left: 8.33333%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span2 {
  width: 16.66667%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset2 {
  margin-left: 16.66667%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span3 {
  width: 25%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset3 {
  margin-left: 25%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span4 {
  width: 33.33333%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset4 {
  margin-left: 33.33333%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span5 {
  width: 41.66667%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset5 {
  margin-left: 41.66667%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span6 {
  width: 50%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset6 {
  margin-left: 50%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span7 {
  width: 58.33333%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset7 {
  margin-left: 58.33333%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span8 {
  width: 66.66667%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset8 {
  margin-left: 66.66667%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span9 {
  width: 75%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset9 {
  margin-left: 75%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span10 {
  width: 83.33333%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset10 {
  margin-left: 83.33333%;
}

/* line 9, ../../../app/stylesheets/base/_grid.scss */
.span11 {
  width: 91.66667%;
}

/* line 13, ../../../app/stylesheets/base/_grid.scss */
.offset11 {
  margin-left: 91.66667%;
}

/* line 18, ../../../app/stylesheets/base/_grid.scss */
.row {
  margin-top: 20px;
  margin-left: -20px;
}
/* line 76, ../../../app/stylesheets/base/_mixins.scss */
.row:first-child {
  margin-top: 0;
}
/* line 15, ../../../app/stylesheets/vendor/bourbon/addons/_clearfix.scss */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* line 23, ../../../app/stylesheets/base/_grid.scss */
.row .span1, .row .span2, .row .span3, .row .span4, .row .span5, .row .span6, .row .span7, .row .span8, .row .span9, .row .span10, .row .span11 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding-left: 20px;
}

/* line 4, ../../../app/stylesheets/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
}
/* line 76, ../../../app/stylesheets/base/_mixins.scss */
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

/* line 8, ../../../app/stylesheets/base/_typography.scss */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

/* line 12, ../../../app/stylesheets/base/_typography.scss */
h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 16, ../../../app/stylesheets/base/_typography.scss */
h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

/* line 20, ../../../app/stylesheets/base/_typography.scss */
h4 {
  font-size: 18px;
  font-size: 1.125rem;
}

/* line 24, ../../../app/stylesheets/base/_typography.scss */
h5 {
  font-size: 17px;
  font-size: 1.0625rem;
}

/* line 28, ../../../app/stylesheets/base/_typography.scss */
h6 {
  font-size: 16px;
  font-size: 1rem;
}

/* line 32, ../../../app/stylesheets/base/_typography.scss */
ul,
ol {
  margin-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
}
/* line 76, ../../../app/stylesheets/base/_mixins.scss */
ul:first-child,
ol:first-child {
  margin-top: 0;
}

/* line 39, ../../../app/stylesheets/base/_typography.scss */
ul {
  list-style: disc;
}
/* line 42, ../../../app/stylesheets/base/_typography.scss */
ul ul {
  list-style: circle;
}

/* line 47, ../../../app/stylesheets/base/_typography.scss */
ol {
  list-style: decimal;
}
/* line 50, ../../../app/stylesheets/base/_typography.scss */
ol ol {
  list-style: lower-alpha;
}

/* line 55, ../../../app/stylesheets/base/_typography.scss */
p {
  margin-top: 20px;
}
/* line 76, ../../../app/stylesheets/base/_mixins.scss */
p:first-child {
  margin-top: 0;
}

/* line 59, ../../../app/stylesheets/base/_typography.scss */
a {
  background: transparent;
  color: darkturquoise;
  text-decoration: none;
}
/* line 64, ../../../app/stylesheets/base/_typography.scss */
a:active, a:hover {
  outline: 0;
}
/* line 69, ../../../app/stylesheets/base/_typography.scss */
a:hover {
  text-decoration: underline;
}
/* line 73, ../../../app/stylesheets/base/_typography.scss */
a:focus {
  outline: thin dotted;
}

/* line 78, ../../../app/stylesheets/base/_typography.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}

/* line 85, ../../../app/stylesheets/base/_typography.scss */
pre {
  white-space: pre-wrap;
}

/* line 89, ../../../app/stylesheets/base/_typography.scss */
b,
.strong,
strong {
  font-weight: bold;
}

/* line 95, ../../../app/stylesheets/base/_typography.scss */
.small,
small {
  font-size: 80%;
}

/* line 100, ../../../app/stylesheets/base/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 108, ../../../app/stylesheets/base/_typography.scss */
sub {
  bottom: -0.5em;
}

/* line 112, ../../../app/stylesheets/base/_typography.scss */
sup {
  top: -0.5em;
}

/* line 116, ../../../app/stylesheets/base/_typography.scss */
dfn,
.em,
em {
  font-style: italic;
}

/* line 1, ../../../app/stylesheets/component/form/_button.scss */
button {
  font-family: inherit;
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
}

/* line 7, ../../../app/stylesheets/component/form/_button.scss */
.button {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
  background: darkturquoise;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  margin: 0;
  padding: 4px 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  white-space: nowrap;
}
/* line 26, ../../../app/stylesheets/component/form/_button.scss */
.button:hover, .button:focus {
  background: #00e7eb;
  text-decoration: none;
}
/* line 32, ../../../app/stylesheets/component/form/_button.scss */
.button:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}
/* line 36, ../../../app/stylesheets/component/form/_button.scss */
.button.disabled, .button[disabled] {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  filter: alpha(opacity=30);
  opacity: 0.3;
  background: darkturquoise;
  cursor: default;
}

/* line 1, ../../../app/stylesheets/component/form/_input.scss */
.input-text,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  border: 1px solid gray;
  border-radius: 3px;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 3px 10px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  width: 100%;
}
/* line 18, ../../../app/stylesheets/component/form/_input.scss */
.input-text:focus,
input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
textarea:focus {
  box-shadow: 0 0 3px gray;
  outline: none;
}
/* line 23, ../../../app/stylesheets/component/form/_input.scss */
.input-text[disabled],
input[type="email"][disabled], input[type="number"][disabled], input[type="password"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="text"][disabled], input[type="url"][disabled], input[type="color"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="month"][disabled], input[type="time"][disabled], input[type="week"][disabled],
textarea[disabled] {
  color: gray;
  opacity: 0.5;
}

/* line 11, ../../../app/stylesheets/base/_mixins.scss */
::-webkit-input-placeholder {
  line-height: 1.4;
}

/* line 14, ../../../app/stylesheets/base/_mixins.scss */
:-moz-placeholder {
  line-height: 1.4;
}

/* line 17, ../../../app/stylesheets/base/_mixins.scss */
::-moz-placeholder {
  line-height: 1.4;
}

/* line 20, ../../../app/stylesheets/base/_mixins.scss */
:-ms-input-placeholder {
  line-height: 1.4;
}

/* line 33, ../../../app/stylesheets/component/form/_input.scss */
::-webkit-outer-spin-button,
::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 39, ../../../app/stylesheets/component/form/_input.scss */
textarea {
  overflow: auto;
  max-width: 100%;
  vertical-align: top;
}

/* line 1, ../../../app/stylesheets/component/form/_select.scss */
select {
  width: 100%;
}

/* line 1, ../../../app/stylesheets/component/_table.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/* line 1, ../../../app/stylesheets/layout/_form.scss */
.form-group {
  margin-top: 20px;
}
/* line 76, ../../../app/stylesheets/base/_mixins.scss */
.form-group:first-child {
  margin-top: 0;
}

/* line 1, ../../../app/stylesheets/layout/_global.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 6, ../../../app/stylesheets/layout/_global.scss */
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 11, ../../../app/stylesheets/layout/_global.scss */
body {
  background: #fff;
  font: normal 88%/1.4 "Open Sans", "Helvetica Neue", "Arial", sans-serif;
  color: gray;
  -webkit-font-smoothing: antialiased;
}

/* line 18, ../../../app/stylesheets/layout/_global.scss */
.container {
  margin: auto;
  max-width: 960px;
  padding: 0 20px;
}

/* line 24, ../../../app/stylesheets/layout/_global.scss */
img {
  max-width: 100%;
}

/* line 28, ../../../app/stylesheets/layout/_global.scss */
hr {
  margin-top: 20px;
  background-color: #cccccc;
  border: 0;
  border-bottom: 1px solid #cccccc;
  height: 0;
}
/* line 76, ../../../app/stylesheets/base/_mixins.scss */
hr:first-child {
  margin-top: 0;
}
