%image-replaced {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

%inline-block {
  @include inline-block;
}

%text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%v-rhythm {
  margin-top: $page-v-rhythm;

  &:first-child {
    margin-top: 0;
  }
}

%v-rhythm-secondary {
  margin-top: $page-v-rhythm/2;

  &:first-child {
    margin-top: 0;
  }
}
