// Typography
// ---------------------------------------

h1, h2, h3, h4, h5, h6 {
  @include vertical-rhythm;
}

h1 {
  @include font-size(36);
}

h2 {
  @include font-size(24);
}

h3 {
  @include font-size(20);
}

h4 {
  @include font-size(18);
}

h5 {
  @include font-size(17);
}

h6 {
  @include font-size(16);
}

ul,
ol {
  @include vertical-rhythm;
  line-height: 1.7;
  margin-left: 20px;
  padding-left: 20px;
}

ul {
  list-style: disc;

  ul {
    list-style: circle;
  }
}

ol {
  list-style: decimal;

  ol {
    list-style: lower-alpha;
  }
}

p {
  @include vertical-rhythm;
  line-height: 1.7;
}

a {
  background: transparent;
  color: $color-primary;
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
  }

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    outline: thin dotted;
  }
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
}

pre {
  white-space: pre-wrap;
}

b,
.strong,
strong {
  font-weight: bold;
}

.small,
small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.5em;
}

sup {
  top: -0.5em;
}

dfn,
.em,
em {
  font-style: italic;
}
