// Colors
// ---------------------------------------

$blue: darkturquoise;

$gray: #808080;
$gray-light: lighten($gray, 30%);

$color-body: $gray;
$color-primary: $blue;


// Fonts
// ---------------------------------------

$font-stack: "Helvetica Neue", "Arial", sans-serif;
$font-primary: "Open Sans", $font-stack;
$font-mono: monospace, serif;


// Misc
// ---------------------------------------

$spacing-horizontal: 20px;
$spacing-vertical: 20px;

$page-border-radius: 3px;
$page-width: 960px;
